{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        <div class="flex flex-col">
        <label for="registration_form_email" class="required">Email</label> 
        {{ form_widget(registrationForm.email) }}
        </div>
        <div>
        <label for="registration_form_plainPassword" class="required">Mot de passe</label> 
        {{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        </div>
        <div>
        <label for="registration_form_agreeTerms" class="required">Agree Terms</label> 
        {{ form_widget(registrationForm.agreeTerms) }}
        </div>
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
